<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PostDataEntities" connectionString="metadata=res://*/POSTModel.csdl|res://*/POSTModel.ssdl|res://*/POSTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=PostData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->

</configuration>